body {
    background-color: black;
}

h1 {
    color: white;
}

.ball{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    cursor: pointer;
    
}
