body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;

}

.balls-actions{
    display: flex;
}

.balls-actions .ball{
    background-color: rgb(11, 146, 164);
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}